<!DOCTYPE html>
<html>
<head>
<link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.2.0/css/bootstrap.min.css"
      th:href="@{/webjars/bootstrap/3.2.0/css/bootstrap.min.css}"
      rel="stylesheet" media="screen" />
<link href="../static/lib/parrot/css/font-awesome.min.css"
          th:href="@{/lib/parrot/css/font-awesome.min.css}"
          rel="stylesheet" media="screen" />
          <link href="../static/lib/parrot/css/drunken-parrot.css"
          th:href="@{/lib/parrot/css/drunken-parrot.css}"
          rel="stylesheet" media="screen" />
          
<script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.1/jquery.min.js"
        th:src="@{/webjars/jquery/2.1.1/jquery.min.js}"></script>
<script src="../static/lib/parrot/js/toolbar.js"
        th:src="@{/lib/parrot/js/toolbar.js}"></script>
<script src="../static/lib/parrot/js/switch.js"
        th:src="@{/lib/parrot/js/switch.js}"></script>
<script src="../static/lib/parrot/js/radio.js"
        th:src="@{/lib/parrot/js/radio.js}"></script>
<script src="../static/lib/parrot/js/html5shiv.js"
        th:src="@{/lib/parrot/js/html5shiv.js}"></script>
<script src="../static/lib/parrot/js/checkbox.js"
        th:src="@{/lib/parrot/js/checkbox.js}"></script>
<script src="../static/lib/parrot/js/bootstrap-switch.js"
        th:src="@{/lib/parrot/js/bootstrap-switch.js}"></script>
<script src="../static/lib/parrot/js/application.js"
        th:src="@{/lib/parrot/js/application.js}"></script>
        
    <title>login or register</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
<form action="register" method="POST">
<div class="tile tile-login">
  <h3 class="logo">Hoarrd!</h3>
  <div class="input-icon">
    <span class="fa-user fa"></span>
    <input type="text" name="userName" class="form-control" placeholder="Username" />
  </div>
  <div class="input-icon">
    <span class="fa-lock fa"></span>
    <input type="password" name="password" class="form-control" placeholder="******" />
  </div>
  <input type="submit" class="btn btn-block btn-primary btn-embossed" value="log in! or Register" />
  <div class="login-action clearfix">
    <div class="col-md-8">
      <label class="checkbox">
        <input type="checkbox" value="" data-toggle="checkbox" />Remember Me
      </label>
    </div>
    <div class="col-md-4">
      <a href="#">Forget?</a>
    </div>
  </div>
</div>
</form>
</body>
</html>